@import 'styles/main.scss';

/*
 * Стили компонента ImageGallery
 */
.ImageGallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;


    margin-top: 20px;
    margin-bottom: -10px;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}